# Python
*.pyc
*.pyo
__pycache__/
*.pyd
env/
venv/
*.db
*.sqlite3
*.log
*.coverage
*.tox
*.nox
*.hypothesis
*.pytest_cache
dist/
build/
.eggs/
*.egg-info/
*.install
*.egg
*.zip
.venv-auth_lambda/

env38/
# FastAPI and backend-related
.env
*.sqlite3
*.pkl
*.db
*.log

backend/build_auth/
backend/build_songs/

# Ignore Python virtual environments
.venv/

# Byte-compiled Python files
*.pyc
__pycache__/

# Ignore environment variable files
.env
env_local/

# Ignore IDE-specific files
.vscode/
.idea/
# Backend
/backend/songs_lambda.zip
/backend/auth_lambda.zip

# Frontend
# Ignore dependencies
/frontend/node_modules/

/frontend/build/
/frontend/dist/

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Environment variables
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# IDEs and editors
/frontend/.vscode/
/frontend/.idea/

# MacOS files
/frontend/.DS_Store

# Generated coverage reports
/frontend/coverage/

/frontend/*.cache
/frontend/.cache-loader/

/frontend/amplify/
/frontend/amplify-build/

/frontend/*.tsbuildinfo

# Temporary files
/frontend/*.tmp
/frontend/*.log
